// Variables
$background-color: #080708;
$foreground-color: #252525;
$font-color: #EEEEEE;
$accent-color: #5a4fcf;

// Mixins
@mixin card-highlight {
  border: 2px solid $foreground-color;
  border-radius: 20px;
  transition: 0.3s ease-out;

  &:hover {
    border-color: $accent-color;
    border-radius: 15px;
    box-shadow: 0 0 2em $accent-color;
    transform: translateY(-5px);
  }
}

// Font
@font-face {
  font-family: Manrope;
  src: url("fonts/manrope-medium.otf");
}

// Global styles
body {
  background-color: $background-color;
  color: $font-color;
  margin: 0;
  box-sizing: border-box;
  font-family: Manrope;
  font-size: clamp(1rem, 0.9rem + 0.45vw, 1.5rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

p {
  margin: 0;
}

.highlight {
  color: $accent-color;
}

a {
  text-decoration: underline;
  color: $font-color;
}

svg {
  display: block;
  margin: 0 auto;
}

// Sections
main {
  display: grid;
  justify-content: center;
}

header {
  background-color: $accent-color;
  width: 100%;
  overflow: hidden;
}

section {
  max-width: 600px;
  padding: 1em;
}

// Cards
div.small-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;

  div.small-card {
    @include card-highlight;
    padding: 10px;
    text-align: center;
  }
  
  a {
    text-decoration: none;
  }
}

div.big-card {
  @include card-highlight;
  padding: 20px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: "-";
      padding-inline-start: 5px;
    }
  }
}