:root {
    --bg-color: #101010;
    --fg-color: #151515;
    --text-color: #E9E8E8;
    --accent-color: #5A4FCF;
    --accent-gradient: linear-gradient(30deg, #5A4FCF, #B14ECF);
}

@font-face {
  font-family: Manrope;
  src: url("fonts/manrope-bold.otf");
}

body {
    margin: 0px;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: Manrope;
}

/* Text */

h1, h2, h3, h4, h5 {
  margin: 0px;
}

.highlight {
  background: var(--accent-color);
  color: var(--bg-color);
  padding: 2px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  transition-duration: 0.2s;
}

a:hover {
  color: var(--bg-color);
  background: var(--accent-color);
}

/* Sections */

div.header {
    width: 100%;
    overflow: hidden;
    background: var(--accent-gradient);
}

div.content {
  margin: 1em auto;
  max-width: 700px;
  padding: 1em;
}

/* Cards */

div.card {
  max-width: 500px;
  padding: 10px;
  margin: 10px 0;

  background: var(--fg-color);
  border: solid 2px var(--fg-color);
  border-radius: 10px;
  transition-duration: 0.5s;

  font-size: 22px; 
}

div.card:hover {
  border-color: var(--accent-color);
}

svg {
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(-1000px);
  }
  1000% {
    transform: translate(1000px);
  }
}